<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.naunehal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".core.MainApp"
        android:allowBackup="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".ui.SplashscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login_activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />

        <activity
            android:name=".ui.SyncActivity"
            android:label="Download and Upload Data Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.sections.ChildrenListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.sections.SelectedChildrenListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.MainActivity"
            android:label="Dashboard Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar.Bridge" />

        <activity
            android:name=".ui.sections.Section082SEActivity"
            android:label="Section SE"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.EndingActivity"
            android:label="Section SE"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.sections.Section081SEActivity"
            android:label="Section SE"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.sections.Section07CVActivity"
            android:label="Section CV"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.sections.Section06BFActivity"
            android:label="Section BF"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.sections.Section05PDActivity"
            android:label="Section PD"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.sections.Section04IMActivity"
            android:label="Section IM"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.sections.Section03CSActivity"
            android:label="Section CS"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.sections.Section02CBActivity"
            android:label="Section CB"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.sections.Section01HHActivity"
            android:label="Section HH"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <activity
            android:name=".ui.sections.IdentificationSectionActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".core.AndroidDatabaseManager"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

    </application>

</manifest>